* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Merriweather';
}

body {
    padding: 0;
    margin: 0;
}

.TopBar {
    height: 84px;
    padding: 8px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 55px;
}

.menu {
    display: flex;
    align-items: center;
    width: 702px;
    justify-content: space-between;
    font-size: 16px;
}

.menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 24px 40px;
    background-color: #020e35;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    width: 185px;
    height: 68px;
}

#nav-menu {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 8px;
}

.underline {
    text-decoration: underline 4px;
    text-decoration-color: #ff5678;
    text-underline-offset: 8px;
}

a {
    color: #020e35;
}

.first-page {
    display: flex;
    padding: 300px 150px 200px 150px;
    height: 1008px;
    justify-content: space-between;
}

.ice-coffee {
    display: flex;
    flex-direction: column;
}

.first-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 457px;
    width: 548px;
}

.surline {
    background-color: #ff5678;
    color: white;
}

h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 110px;
    color: #2b2b2b;
    margin: 0;
    letter-spacing: 0%;
}

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020e35;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    padding: 24px 40px;
    font-size: inherit;
    cursor: pointer;
    width: 197px;
    height: 71px;
    box-shadow: 0px 10px 40px 5px rgba(0,0,0,0.25)
}