* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #020e35;
}

.TopBar {
    height: 84px;
    padding: 8px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 55px;
}

.menu {
    display: flex;
    align-items: center;
    width: 702px;
    justify-content: space-between;
    font-size: 16px;
}

#nav-menu {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 8px;
}

a:visited {
    color: #020e35;
}

.underline {
    text-decoration: underline 4px;
    text-decoration-color: #ff5678;
    text-underline-offset: 8px;
}

.first-page {
    display: flex;
    padding: 300px 150px 200px 150px;
    min-height: 1008px;
    justify-content: space-between;
}

.first-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 457px;
    width: 548px;
}

.surline {
    background-color: #ff5678;
    color: white;
}

h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 110px;
    color: #2b2b2b;
    margin: 0;
    letter-spacing: 0;
}

.second-page {
    display: flex;
    min-height: 708px;
    padding: 100px 150px 100px 150px;
    justify-content: space-between;
}

.second-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 517px;
    height: 435px;
}

.second-title .main-button {
    height: 71px;
    width: 185px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 62px;
    margin: 0;
}

.mid-line {
    white-space: nowrap;
    padding-right: 11px;
    padding-left: 0px;
    box-decoration-break: clone;
    background: linear-gradient(to top, #ff5678 45%, transparent 0%)
}

.button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    width: 460px;
}

.third-page {
    display: flex;
    position: relative;
    z-index: 1;
    min-height: 792px;
    justify-content: space-between;
    padding: 100px 150px 100px 150px;
}

.third-page::before {
    content: "";
    position: absolute;
    width: 780px;
    height: 670px;
    border-radius: 1000px;
    background-color: #ffeef6;
    left: -200px;
    top: 187px;
    z-index: -1;
    pointer-events: none;
}

h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 62px;
    margin: 0;
    padding-bottom: 120px;
}

.third-title {
    display: flex;
    width: 545px;
    height: 592px;
    flex-direction: column;
}

h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin: 0%;
    padding: 8px 0 20px 0;
}

.service-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 544px;
    height: 110px;
    margin-bottom: 40px;
}


.service-block span {
    display: flex;
    margin: 0 40px 38px 0;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    width: 83px;
    height: 72px;
    color: transparent;
    -webkit-text-stroke: 1px #020e35;
}

.text-service {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.service-content {
    display: flex;
    width: 543px;
    height: 410px;
    flex-direction: column;
    margin: 91px 0 91px 0;
}

.fourth-page {
    display: flex;
    position: relative;
    min-height: 870px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px 100px 150px;
    z-index: 0;
}

.fourth-title {
    display: flex;
    flex-direction: column;
    width: 664px;
    height: 503px;
    gap: 60px;
}

.fourth-title h3 {
    line-height: 72px;
    padding-bottom: 0;
}

.fourth-title p {
    line-height: 32px;
    padding-right: 183px;
}

.fourth-title button {
    width: 185px;
    height: 71px;
}

.clearing-error {
    border: none;
    background: none;
    cursor: pointer;
}

.menu-button,
.main-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #020e35;
    color: white;
    font-weight: 700;
    font-size: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-button {
    padding: 24px 40px;
    width: 185px;
    height: 68px;
}

.main-button {
    padding: 24px 40px;
    width: 197px;
    height: 71px;
    box-shadow: 0px 10px 40px 5px rgba(0, 0, 0, 0.25);
}